<div class="container mb-5">
  <div class="row">
    <div class="col-md-12">

      <div class="alert alert-dark text-center" role="alert">
        <a href="https://getbootstrap.com/docs/4.3/components/alerts/" class="h2">
          Check some normal bootstrap components here...
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="mt-5 text-center">
        <div class="col-md-12">
          <button type="button" class="btn btn-primary">Primary</button>
          <button type="button" class="btn btn-secondary">Secondary</button>
          <button type="button" class="btn btn-success">Success</button>
          <button type="button" class="btn btn-danger">Danger</button>
          <button type="button" class="btn btn-warning">Warning</button>
          <button type="button" class="btn btn-info">Info</button>
          <button type="button" class="btn btn-light">Light</button>
          <button type="button" class="btn btn-dark">Dark</button>
          <button type="button" class="btn btn-link">Link</button>
        </div>
      </div>

      <div class="mt-2 text-center">
        <div class="col-md-12">
          <button type="button" class="btn btn-outline-primary">Primary</button>
          <button type="button" class="btn btn-outline-secondary">Secondary</button>
          <button type="button" class="btn btn-outline-success">Success</button>
          <button type="button" class="btn btn-outline-danger">Danger</button>
          <button type="button" class="btn btn-outline-warning">Warning</button>
          <button type="button" class="btn btn-outline-info">Info</button>
          <button type="button" class="btn btn-outline-light">Light</button>
          <button type="button" class="btn btn-outline-dark">Dark</button>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="mt-5">
        <div class="col-md-4">
          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <div class="row mt-5">
        <div class="col-md-3">
          <div class="card bg-info text-white">
            <div class="card-header">Card Header</div>
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card bg-warning text-white">
            <div class="card-header">Card Header</div>
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card bg-primary text-white">
            <div class="card-header">Card Header</div>
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card bg-secondary text-white">
            <div class="card-header">Card Header</div>
            <div class="card-body">
              This is some text within a card body.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="row mt-5">
        <!-- Old way of using the font-owesome still works-->
        <!-- https://fontawesome.com/v4.7.0/accessibility/ -->
        <h1 class="mr-5"><i class="fa fa-address-book text-primary" aria-hidden="true"></i></h1>
        <h1 class="mr-5"><i class="fa fa-angle-double-left" aria-hidden="true"></i></h1>
        <h1 class="mr-5"><i class="fa fa-balance-scale" aria-hidden="true"></i></h1><br>
        <h1 class="mr-5" style="color: darkcyan;"><i class="fa fa-battery-three-quarters" aria-hidden="true"></i></h1>
      </div>

      <!-- https://fontawesome.com/v4.7.0/accessibility/ -->
      <div class="row">
        <a class="btn btn-danger" href="https://github.com/dylut2000" target="_blank" aria-label="Delete">
          <i class="fa fa-trash-o" aria-hidden="true" title="Delete this item?"></i>
        </a>
      </div>

      <!-- you can also use it this way -->
      <!-- https://www.npmjs.com/package/angular-font-awesome -->
      <fa name="cog" size="3x" animation="spin"></fa>

    </div>
  </div>

  <div class="row">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Well done!</h4>
      <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so
        that you can see how spacing within an alert works with this kind of content.</p>
      <hr>
      <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    </div>
  </div>


  <div class="row">
      <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="https://github.com/dylut2000" target="_blank">Action</a>
            <a class="dropdown-item" href="https://github.com/dylut2000" target="_blank">Another action</a>
            <a class="dropdown-item" href="https://github.com/dylut2000" target="_blank">Something else here</a>
          </div>
        </div>
  </div>

</div>


<div class="container-fluid my-5">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
</div>
